
code {
    display: block;
    padding: 20px;
    background-color: rgb(216, 217, 218);
    border-radius: 10px;
    
}
header{
    font-weight: bolder;    
}

#nav-bar {
    padding: 20px;
}
#nav-bar li {
    list-style: none;
    background-color: rgb(251, 252, 253);
    margin: 1px;
    
}
#nav-bar a:hover {
    color: red;
    
    animation-name: shake;
    animation-iteration-count: infinite;
}


#main-doc header{
    font-size: 2em;
    padding: 10px;
}
.preserve{
    white-space: pre-wrap;
}
blockquote{
    text-align: center;
    width: 50vw;
    padding-left: 10vw;
    font-weight: lighter;
    font-style: italic;
}

.main-section{
    background-color: #eceaea;
    padding: 30px;
    border-radius: 20px;
    margin: 20px 0px;
    
}
li code{
    text-align: justify;
    margin: 10px 70px;
}

#References  li {

    list-style: none;
}

@media only screen and (min-width:550px) {
    #nav-bar{
        width: 20vw;
        position: fixed;
    }
    #main-doc{
        display: inline-block;
        position: relative;
        left: 23vw;
        width: 70vw;
    }
}